{% let send_sync = mode != "serial" %}

use std::{
    sync::Arc,
    collections::{HashMap, VecDeque},
    ffi::{OsStr, OsString},
    path::Path,
    time::SystemTime,
};

use libc::c_int;
use log::{error, info, warn};

use fuser::{
    self, KernelConfig, ReplyAttr, ReplyBmap, ReplyCreate, ReplyData, ReplyDirectory,
    ReplyDirectoryPlus, ReplyEmpty, ReplyEntry, ReplyIoctl, ReplyLock, ReplyLseek, ReplyOpen,
    ReplyStatfs, ReplyWrite, ReplyXattr, Request, TimeOrNow,
};

use crate::fuse_handler::FuseHandler;
use crate::types::*;
use crate::core::helpers::*;
use crate::core::thread_mode::*;
use crate::core::inode_mapping::FileIdResolver;

type DirIter<TAttr> = HashMap<(u64, i64), VecDeque<(OsString, u64, TAttr)>>;

{% if mode == "serial" %}
    use std::cell::RefCell;

{% elif mode == "parallel" %}
    use threadpool::ThreadPool;

    #[cfg(feature = "deadlock_detection")]
    use parking_lot::Mutex;
    #[cfg(not(feature = "deadlock_detection"))]
    use std::sync::Mutex;

{% elif mode == "async" %}
    use tokio::runtime::Runtime;
    use tokio::sync::Mutex;
{% endif %}

pub(crate) struct FuseDriver<TId, THandler>
where
    TId: FileIdType,
    THandler: FuseHandler<TId>,
{
    pub resolver: Arc<TId::Resolver>,

    {% if !send_sync %}
        handler: THandler,
        dirmap_iter: RefCell<DirIter<FileKind>>,
        dirmapplus_iter: RefCell<DirIter<FileAttribute>>,
    {% else %}
        handler: Arc<THandler>,
        dirmap_iter: Arc<Mutex<DirIter<FileKind>>>,
        dirmapplus_iter: Arc<Mutex<DirIter<FileAttribute>>>,
    {% endif %}

    {% if mode == "parallel" %}
        pub threadpool: ThreadPool,
        pub reply_threadpool: ThreadPool,
    {% elif mode == "async" %}
        pub runtime: Arc<Runtime>,
    {% endif %}
}

{% if mode == "parallel" %}
    impl<TId, THandler> Drop for FuseDriver<TId, THandler>
    where
        TId: FileIdType,
        THandler: FuseHandler<TId>,
    {
        fn drop(&mut self) {
            self.threadpool.join();
            self.reply_threadpool.join();
        }
    }
{% endif %}

impl<TId, THandler> FuseDriver<TId, THandler>
where
    TId: FileIdType,
    THandler: FuseHandler<TId>,
{
    pub fn new(
        handler: THandler,
        {% if send_sync %}
            num_threads: usize
        {% else %}
            _num_threads: usize
        {% endif %}
    ) -> FuseDriver<TId, THandler> {
        {% if mode == "parallel" %}
            #[cfg(feature = "deadlock_detection")]
            spawn_deadlock_checker();
        {% endif %}

        FuseDriver {
            resolver: Arc::new(TId::create_resolver()),
            {% if mode == "serial" %}
                handler,
                dirmap_iter: RefCell::new(HashMap::new()),
                dirmapplus_iter: RefCell::new(HashMap::new()),
            {% else %}
                handler: Arc::new(handler),
                dirmap_iter: Arc::new(Mutex::new(HashMap::new())),
                dirmapplus_iter: Arc::new(Mutex::new(HashMap::new())),
            {% endif %}

            {% if mode == "parallel" %}
                threadpool: ThreadPool::new(num_threads),
                reply_threadpool: ThreadPool::new(num_threads),
            {% elif mode == "async" %}
                runtime: Arc::new(Runtime::new().unwrap()),
            {% endif %}
        }
    }

    {% if !send_sync %}
        pub fn get_handler(&self) -> &THandler {
            &self.handler
        }

        pub fn get_dirmap_iter(&self) -> &RefCell<DirIter<FileKind>> {
            &self.dirmap_iter
        }

        pub fn get_dirmapplus_iter(&self) -> &RefCell<DirIter<FileAttribute>> {
            &self.dirmapplus_iter
        }
    {% else %}
        pub fn get_handler(&self) -> Arc<THandler> {
            self.handler.clone()
        }

        pub fn get_dirmap_iter(&self) -> Arc<Mutex<DirIter<FileKind>>> {
            self.dirmap_iter.clone()
        }

        pub fn get_dirmapplus_iter(&self) -> Arc<Mutex<DirIter<FileAttribute>>> {
            self.dirmapplus_iter.clone()
        }
    {% endif %}
}



impl<TId, THandler> fuser::Filesystem for FuseDriver<TId, THandler>
where
    TId: FileIdType,
    THandler: FuseHandler<TId>,
{
    {% macro spawn() -%}
        {% if mode == "parallel" %}
            let reply_threadpool = self.reply_threadpool.clone();
            self.threadpool.execute(move || {
        {% elif mode == "async" %}
            let runtime = self.runtime.clone();
            runtime.spawn(async move {
        {% endif %}
        
        {{ caller() }}
        
        {% if mode == "parallel" || mode == "async" %}
            });
        {% endif %}
    {%- endmacro %}

    {% macro spawn_reply() -%}
        {% if mode == "parallel" %}
            reply_threadpool.execute(move || {
        {% elif mode == "async" %}
            runtime.spawn(async move {
        {% endif %}
        
        {{ caller() }}
        
        {% if mode == "parallel" || mode == "async" %}
            });
        {% endif %}
    {%- endmacro %}

    {% macro reply_error() -%}
        {% call spawn_reply() %}
            reply.error(e.raw_error());
        {% endcall %}
    {%- endmacro %}

    {% macro reply_entry(parent, name) -%}
        Ok(metadata) => {
            let default_ttl = handler.get_default_ttl();
            let (id, file_attr) = TId::extract_metadata(metadata);
            let ino = resolver.lookup({{ parent }}, &{{ name }}, id, true);
            let (fuse_attr, ttl, generation) = file_attr.to_fuse(ino);
            {% call spawn_reply() %}
                reply.entry(
                    &ttl.unwrap_or(default_ttl),
                    &fuse_attr,
                    generation.unwrap_or(get_random_generation()),
                );
            {% endcall %}
        }
    {%- endmacro %}

    {% macro reply_attr() -%}
        Ok(file_attr) => {
            let default_ttl = handler.get_default_ttl();
            let (fuse_attr, ttl, _) = file_attr.to_fuse(ino);
            {% call spawn_reply() %}
                reply.attr(&ttl.unwrap_or(default_ttl), &fuse_attr);
            {% endcall %}
        },
    {%- endmacro %}


    fn init(&mut self, req: &Request, config: &mut KernelConfig) -> Result<(), c_int> {
        let req = RequestInfo::from(req);
        match self.get_handler().init(&req, config) {
            Ok(()) => Ok(()),
            Err(e) => {
                warn!("[{}] init {:?}", e, req);
                Err(e.raw_error())
            }
        }
    }

    fn destroy(&mut self) {
        self.get_handler().destroy();
    }

    fn access(&mut self, req: &Request, ino: u64, mask: i32, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.access(
                &req,
                resolver.resolve_id(ino),
                AccessMask::from_bits_retain(mask),
            ) {
                Ok(()) => { {% call spawn_reply() %}reply.ok();{% endcall %} }
                Err(e) => {
                    warn!("access: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
                
            };
        {% endcall %}
    }

    fn bmap(&mut self, req: &Request<'_>, ino: u64, blocksize: u32, idx: u64, reply: ReplyBmap) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.bmap(&req, resolver.resolve_id(ino), blocksize, idx) {
                Ok(block) => { {% call spawn_reply() %}reply.bmap(block);{% endcall %} }
                Err(e) => {
                    warn!("bmap: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn copy_file_range(
        &mut self,
        req: &Request,
        ino_in: u64,
        fh_in: u64,
        offset_in: i64,
        ino_out: u64,
        fh_out: u64,
        offset_out: i64,
        len: u64,
        flags: u32,
        reply: ReplyWrite,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.copy_file_range(
                &req,
                resolver.resolve_id(ino_in),
                unsafe { BorrowedFileHandle::from_raw(fh_in) },
                offset_in,
                resolver.resolve_id(ino_out),
                unsafe { BorrowedFileHandle::from_raw(fh_out) },
                offset_out,
                len,
                flags,
            ) {
                Ok(bytes_written) => { {% call spawn_reply() %} reply.written(bytes_written);{% endcall %} }
                Err(e) => {
                    warn!("copy_file_range: ino {:x?}, [{}], {:?}", ino_in, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn create(
        &mut self,
        req: &Request,
        parent: u64,
        name: &OsStr,
        mode: u32,
        umask: u32,
        flags: i32,
        reply: ReplyCreate,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.create(
                &req,
                resolver.resolve_id(parent),
                &name,
                mode,
                umask,
                OpenFlags::from_bits_retain(flags),
            ) {
                Ok((file_handle, metadata, response_flags)) => {
                    let default_ttl = handler.get_default_ttl();
                    let (id, file_attr) = TId::extract_metadata(metadata);
                    let ino = resolver.lookup(parent, &name, id, true);
                    let (fuse_attr, ttl, generation) = file_attr.to_fuse(ino);
                    {% call spawn_reply() %}
                        reply.created(
                            &ttl.unwrap_or(default_ttl),
                            &fuse_attr,
                            generation.unwrap_or(get_random_generation()),
                            file_handle.as_raw(),
                            response_flags.bits(),
                        );
                    {% endcall %}
                }
                Err(e) => {
                    warn!("create: {:?}, parent_ino: {:x?}, {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn fallocate(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        offset: i64,
        length: i64,
        mode: i32,
        reply: ReplyEmpty,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.fallocate(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                offset,
                length,
                FallocateFlags::from_bits_retain(mode),
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("fallocate: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn flush(&mut self, req: &Request, ino: u64, fh: u64, lock_owner: u64, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.flush(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                lock_owner,
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("flush: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn forget(&mut self, req: &Request, ino: u64, nlookup: u64) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        handler.forget(&req, resolver.resolve_id(ino), nlookup);
        resolver.forget(ino, nlookup);
    }

    fn fsync(&mut self, req: &Request, ino: u64, fh: u64, datasync: bool, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.fsync(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                datasync,
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("fsync: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn fsyncdir(&mut self, req: &Request, ino: u64, fh: u64, datasync: bool, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.fsyncdir(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                datasync,
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("fsyncdir: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn getattr(&mut self, req: &Request, ino: u64, fh: Option<u64>, reply: ReplyAttr) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.getattr(
                &req,
                resolver.resolve_id(ino),
                fh.map(|fh| unsafe { BorrowedFileHandle::from_raw(fh) })
            ) {
                {{ reply_attr() }}
                Err(e) => {
                    warn!("getattr: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn getlk(
        &mut self,
        req: &Request<'_>,
        ino: u64,
        fh: u64,
        lock_owner: u64,
        start: u64,
        end: u64,
        typ: i32,
        pid: u32,
        reply: ReplyLock,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            let lock_info = LockInfo {
                start,
                end,
                lock_type: LockType::from_bits_retain(typ),
                pid,
            };
            match handler.getlk(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                lock_owner,
                lock_info,
            ) {
                Ok(lock_info) => { {% call spawn_reply() %}
                    reply.locked(
                        lock_info.start,
                        lock_info.end,
                        lock_info.lock_type.bits(),
                        lock_info.pid,
                    )
                {% endcall %} }
                Err(e) => {
                    warn!("getlk: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn getxattr(&mut self, req: &Request, ino: u64, name: &OsStr, size: u32, reply: ReplyXattr) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.getxattr(&req, resolver.resolve_id(ino), &name, size) {
                Ok(xattr_data) => { {% call spawn_reply() %}
                    if size == 0 {
                        reply.size(xattr_data.len() as u32);
                    } else if size >= xattr_data.len() as u32 {
                        reply.data(&xattr_data);
                    } else {
                        reply.error(ErrorKind::ResultTooLarge.into());
                    }
                {% endcall %} }
                Err(e) => {
                    warn!("getxattr: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn ioctl(
        &mut self,
        req: &Request<'_>,
        ino: u64,
        fh: u64,
        flags: u32,
        cmd: u32,
        in_data: &[u8],
        out_size: u32,
        reply: ReplyIoctl,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let in_data = in_data.to_owned();
        {% call spawn() %}
            match handler.ioctl(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                IOCtlFlags::from_bits_retain(flags),
                cmd,
                in_data,
                out_size,
            ) {
                Ok((result, data)) => { {% call spawn_reply() %} reply.ioctl(result, &data); {% endcall %} }
                Err(e) => {
                    warn!("ioctl: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn link(
        &mut self,
        req: &Request,
        ino: u64,
        newparent: u64,
        newname: &OsStr,
        reply: ReplyEntry,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let newname = newname.to_owned();
        {% call spawn() %}
            match handler.link(&req,
                resolver.resolve_id(ino),
                resolver.resolve_id(newparent),
                &newname
            ) {
                {% call reply_entry("newparent", "newname") %}{% endcall %}
                Err(e) => {
                    warn!("link: parent_ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn listxattr(&mut self, req: &Request, ino: u64, size: u32, reply: ReplyXattr) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.listxattr(&req, resolver.resolve_id(ino), size) {
                Ok(xattr_data) => { {% call spawn_reply() %}
                    if size == 0 {
                        reply.size(xattr_data.len() as u32);
                    } else if size >= xattr_data.len() as u32 {
                        reply.data(&xattr_data);
                    } else {
                        reply.error(ErrorKind::ResultTooLarge.into());
                    }
                {% endcall %} }
                Err(e) => {
                    warn!("listxattr: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn lookup(&mut self, req: &Request, parent: u64, name: &OsStr, reply: ReplyEntry) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.lookup(&req, resolver.resolve_id(parent), &name) {
                {% call reply_entry("parent", "name") %}{% endcall %}
                Err(e) => {
                    // Failure is expected if user try to lookup a nonexistent file, it should not emit a warning
                    info!("lookup: parent_ino {:x?}, [{}], {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn lseek(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        offset: i64,
        whence: i32,
        reply: ReplyLseek,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.lseek(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                seek_from_raw(Some(whence), offset),
            ) {
                Ok(new_offset) => { {% call spawn_reply() %} reply.offset(new_offset); {% endcall %} }
                Err(e) => {
                    warn!("lseek: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn mkdir(
        &mut self,
        req: &Request,
        parent: u64,
        name: &OsStr,
        mode: u32,
        umask: u32,
        reply: ReplyEntry,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.mkdir(&req,
                resolver.resolve_id(parent),
                &name,
                mode,
                umask
            ) {
                {% call reply_entry("parent", "name") %}{% endcall %}
                Err(e) => {
                    warn!("mkdir: parent_ino {:x?}, [{}], {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn mknod(
        &mut self,
        req: &Request,
        parent: u64,
        name: &OsStr,
        mode: u32,
        umask: u32,
        rdev: u32,
        reply: ReplyEntry,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.mknod(
                &req,
                resolver.resolve_id(parent),
                &name,
                mode,
                umask,
                DeviceType::from_rdev(rdev.try_into().unwrap())
            ) {
                {% call reply_entry("parent", "name") %}{% endcall %}
                Err(e) => {
                    warn!("mknod: parent_ino {:x?}, [{}], {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn open(&mut self, req: &Request, ino: u64, _flags: i32, reply: ReplyOpen) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.open(
                &req,
                resolver.resolve_id(ino),
                OpenFlags::from_bits_retain(_flags),
            ) {
                Ok((file_handle, response_flags)) => { {% call spawn_reply() %}
                    reply.opened(file_handle.as_raw(), response_flags.bits())
                {% endcall %} }
                Err(e) => {
                    warn!("open: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn opendir(&mut self, req: &Request, ino: u64, _flags: i32, reply: ReplyOpen) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.opendir(
                &req,
                resolver.resolve_id(ino),
                OpenFlags::from_bits_retain(_flags),
            ) {
                Ok((file_handle, response_flags)) => { {% call spawn_reply() %}
                    reply.opened(file_handle.as_raw(), response_flags.bits())
                {% endcall %} }
                Err(e) => {
                    warn!("opendir: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn read(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        offset: i64,
        size: u32,
        flags: i32,
        lock_owner: Option<u64>,
        reply: ReplyData,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.read(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                seek_from_raw(None, offset),
                size,
                FUSEOpenFlags::from_bits_retain(flags),
                lock_owner,
            ) {
                Ok(data_reply) => { {% call spawn_reply() %} reply.data(&data_reply); {% endcall %} }
                Err(e) => {
                    warn!("read: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    {% macro readdir_impl(is_extended_readdir) -%}
        let req_info = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let dirmap_iter = {% if is_extended_readdir %}
            self.get_dirmapplus_iter(){% else %}
            self.get_dirmap_iter(){% endif %};

        {% call spawn() %}
            // Validate offset
            if offset < 0 {
                error!("readdir called with a negative offset");
                {% call spawn_reply() %}
                    reply.error(ErrorKind::InvalidArgument.into());
                {% endcall %}
                return;
            }

            // ### Initialize directory iterator
            let mut dir_iter = match offset {
                // First read: fetch children from handler
                0 => match handler.{% if is_extended_readdir %}
                    readdirplus{% else %}
                    readdir{% endif %}
                (&req_info, resolver.resolve_id(ino), unsafe {
                    BorrowedFileHandle::from_raw(fh)
                }) {
                    Ok(children) => {
                        // Unpack and process children
                        let (child_list, attr_list): (Vec<_>, Vec<_>) = children
                            .into_iter()
                            .map(|item| {
                                let (child_id, child_attr) = {% if is_extended_readdir %}
                                    { TId::extract_metadata(item.1) }{% else %}
                                    { TId::extract_minimal_metadata(item.1) }
                                {% endif %};
                                ((item.0, child_id), child_attr)
                            })
                            .unzip();

                        // Add children to resolver and create iterator
                        resolver
                            .add_children(
                                ino,
                                child_list,
                                {% if is_extended_readdir %}
                                    true{% else %}
                                    false
                                {% endif %}
                            )
                            .into_iter()
                            .zip(attr_list.into_iter())
                            .map(|((file_name, file_ino), file_attr)| {
                                (file_name, file_ino, file_attr)
                            })
                            .collect()
                    }
                    Err(e) => {
                        warn!("readdir {:?}: {:?}", req_info, e);
                        {{ reply_error() }}
                        return;
                    }
                },
                // Subsequent reads: retrieve saved iterator
                _ => match { dirmap_iter.safe_borrow_mut().remove(&(ino, offset)) } {
                    Some(dirmap_iter) => dirmap_iter,
                    None => {
                        // Case when fuse tries to read again after the final item
                        {% call spawn_reply() %} reply.ok(); {% endcall %}
                        return;
                    }
                },
            };

            let mut new_offset = offset;

            // ### Process directory entries
            {% call spawn_reply() %}
                {% if is_extended_readdir %}
                    // readdirplus: Add entries with extended attributes
                    let default_ttl = handler.get_default_ttl();
                    while let Some((name, ino, file_attr)) = dir_iter.pop_front() {
                        let (fuse_attr, ttl, generation) = file_attr.clone().to_fuse(ino);
                        if reply.add(
                            ino,
                            new_offset,
                            &name,
                            &ttl.unwrap_or(default_ttl),
                            &fuse_attr,
                            generation.unwrap_or(get_random_generation()),
                        ) {
                            dir_iter.push_front((name, ino, file_attr.clone()));
                            dirmap_iter
                                .safe_borrow_mut()
                                .insert((ino, new_offset - 1), dir_iter);
                            break;
                        }
                        new_offset += 1;
                    }
                    reply.ok();
                {% else %}
                    // readdir: Add entries until buffer is full
                    while let Some((name, ino, kind)) = dir_iter.pop_front() {
                        if reply.add(ino, new_offset, kind, &name) {
                            dir_iter.push_front((name, ino, kind));
                            dirmap_iter
                                .safe_borrow_mut()
                                .insert((ino, new_offset - 1), dir_iter);
                            break;
                        }
                        new_offset += 1;
                    }
                    reply.ok();
                {% endif %}
            {% endcall %}
        {% endcall %}
    {%- endmacro %}

    fn readdir(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        offset: i64,
        mut reply: ReplyDirectory,
    ) {
        {{ readdir_impl(false) }}
    }

    fn readdirplus(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        offset: i64,
        mut reply: ReplyDirectoryPlus,
    ) {
        {{ readdir_impl(true) }}
    }

    fn readlink(&mut self, req: &Request, ino: u64, reply: ReplyData) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.readlink(&req, resolver.resolve_id(ino)) {
                Ok(link) => { {% call spawn_reply() %} reply.data(&link); {% endcall %} }
                Err(e) => {
                    warn!("[{}] readlink, ino: {:x?}, {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn release(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        _flags: i32,
        _lock_owner: Option<u64>,
        _flush: bool,
        reply: ReplyEmpty,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.release(
                &req,
                resolver.resolve_id(ino),
                unsafe { OwnedFileHandle::from_raw(fh) },
                OpenFlags::from_bits_retain(_flags),
                _lock_owner,
                _flush,
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("release: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn releasedir(&mut self, req: &Request, ino: u64, fh: u64, flags: i32, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.releasedir(
                &req,
                resolver.resolve_id(ino),
                unsafe { OwnedFileHandle::from_raw(fh) },
                OpenFlags::from_bits_retain(flags),
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("releasedir: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn removexattr(&mut self, req: &Request, ino: u64, name: &OsStr, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.removexattr(&req, resolver.resolve_id(ino), &name) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("removexattr: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn rename(
        &mut self,
        req: &Request,
        parent: u64,
        name: &OsStr,
        newparent: u64,
        newname: &OsStr,
        flags: u32,
        reply: ReplyEmpty,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        let newname = newname.to_owned();
        {% call spawn() %}
            match handler.rename(
                &req,
                resolver.resolve_id(parent),
                &name,
                resolver.resolve_id(newparent),
                &newname,
                RenameFlags::from_bits_retain(flags),
            ) {
                Ok(()) => {
                    resolver.rename(parent, &name, newparent, &newname);
                    {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("[{}] rename: parent_ino: {:x?}, {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn rmdir(&mut self, req: &Request, parent: u64, name: &OsStr, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.rmdir(&req, resolver.resolve_id(parent), &name) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("[{}] rmdir: parent_ino: {:x?}, {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn setattr(
        &mut self,
        req: &Request,
        ino: u64,
        mode: Option<u32>,
        uid: Option<u32>,
        gid: Option<u32>,
        size: Option<u64>,
        atime: Option<TimeOrNow>,
        mtime: Option<TimeOrNow>,
        ctime: Option<SystemTime>,
        fh: Option<u64>,
        crtime: Option<SystemTime>,
        chgtime: Option<SystemTime>,
        bkuptime: Option<SystemTime>,
        _flags: Option<u32>,
        reply: ReplyAttr,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let attrs = SetAttrRequest {
            mode,
            uid,
            gid,
            size,
            atime: atime,
            mtime: mtime,
            ctime: ctime,
            crtime: crtime,
            chgtime: chgtime,
            bkuptime: bkuptime,
            flags: None,
            file_handle: fh.map(|fh| unsafe { BorrowedFileHandle::from_raw(fh) }),
        };
        {% call spawn() %}
            match handler.setattr(
                &req,
                resolver.resolve_id(ino),
                attrs
            ) {
                {{ reply_attr() }}
                Err(e) => {
                    warn!("setattr: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn setlk(
        &mut self,
        req: &Request<'_>,
        ino: u64,
        fh: u64,
        lock_owner: u64,
        start: u64,
        end: u64,
        typ: i32,
        pid: u32,
        sleep: bool,
        reply: ReplyEmpty,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            let lock_info = LockInfo {
                start,
                end,
                lock_type: LockType::from_bits_retain(typ),
                pid,
            };
            match handler.setlk(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                lock_owner,
                lock_info,
                sleep,
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("setlk: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn setxattr(
        &mut self,
        req: &Request,
        ino: u64,
        name: &OsStr,
        value: &[u8],
        flags: i32,
        position: u32,
        reply: ReplyEmpty,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        let value = value.to_owned();
        {% call spawn() %}
            match handler.setxattr(
                &req,
                resolver.resolve_id(ino),
                &name,
                value,
                FUSESetXAttrFlags::from_bits_retain(flags),
                position,
            ) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("setxattr: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn statfs(&mut self, req: &Request, ino: u64, reply: ReplyStatfs) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        {% call spawn() %}
            match handler.statfs(&req, resolver.resolve_id(ino)) {
                Ok(statfs) => { {% call spawn_reply() %}
                    reply.statfs(
                        statfs.total_blocks,
                        statfs.free_blocks,
                        statfs.available_blocks,
                        statfs.total_files,
                        statfs.free_files,
                        statfs.block_size,
                        statfs.max_filename_length,
                        statfs.fragment_size,
                    )
                {% endcall %} }
                Err(e) => {
                    warn!("statfs: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn symlink(
        &mut self,
        req: &Request,
        parent: u64,
        link_name: &OsStr,
        target: &Path,
        reply: ReplyEntry,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let link_name = link_name.to_owned();
        let target = target.to_owned();
        {% call spawn() %}
            match handler.symlink(&req, resolver.resolve_id(parent), &link_name, &target) {
                {% call reply_entry("parent", "link_name") %}{% endcall %}
                Err(e) => {
                    warn!("symlink: parent_ino {:x?}, [{}], {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            }
        {% endcall %}
    }

    fn write(
        &mut self,
        req: &Request,
        ino: u64,
        fh: u64,
        offset: i64,
        data: &[u8],
        write_flags: u32,
        flags: i32,
        lock_owner: Option<u64>,
        reply: ReplyWrite,
    ) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let data = data.to_owned();
        {% call spawn() %}
            match handler.write(
                &req,
                resolver.resolve_id(ino),
                unsafe { BorrowedFileHandle::from_raw(fh) },
                seek_from_raw(None, offset),
                data,
                FUSEWriteFlags::from_bits_retain(write_flags),
                OpenFlags::from_bits_retain(flags),
                lock_owner,
            ) {
                Ok(bytes_written) => { {% call spawn_reply() %} reply.written(bytes_written); {% endcall %} }
                Err(e) => {
                    warn!("write: ino {:x?}, [{}], {:?}", ino, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }

    fn unlink(&mut self, req: &Request, parent: u64, name: &OsStr, reply: ReplyEmpty) {
        let req = RequestInfo::from(req);
        let handler = self.get_handler();
        let resolver = self.resolver.clone();
        let name = name.to_owned();
        {% call spawn() %}
            match handler.unlink(&req, resolver.resolve_id(parent), &name) {
                Ok(()) => { {% call spawn_reply() %} reply.ok(); {% endcall %} }
                Err(e) => {
                    warn!("[{}] unlink: parent_ino: {:x?}, {:?}", parent, e, req);
                    {{ reply_error() }}
                }
            };
        {% endcall %}
    }
}